<div class="row">
  <div class="col-3">
    <div class="card post-card mb-5 d-block">
      <% unless @post.header_image.nil? %>
        <div class="header-image mb-5">
          <%= image_tag(@post.header_image, size: "300x400") %>
        </div>
      <%end%>
    </div>
  </div>
  <div class="col-9">
    <div class="card-body d-block">
      <div class="pl-5 pr-5 pt-4 pb-4">
        <h1 class="card-title mb-5"><%= @post.title %></h1>
        <% @post.elements.each do |element| %>
          <% if element.image? %>
            <div class="image-element mb-5">
            <%= image_tag(element.image) %>
            </div>
          <% else %>
            <div class="content-element mb-5">
            <%= element.content %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>