<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "all post", posts_path, class: "nav-link" %>
        <%= link_to "Posteados", posted_path, class: "nav-link" %>
        <%= link_to "Borradores", unposted_path, class: "nav-link" %>
        <%= link_to 'stats', stats_path, class: "nav-link" %>
      </div>
    </div>
  </nav>