<div class="row">
    <div class="col-12 text-center">
        <h1>Difusion</h1>
    </div>
    <div class="col-12">
        <h4>
            Porque el conocimiento no puede quedarse dentro del clóset, en Dyversia creemos que el acceso a la información debe ser democrático y transversal. Por lo mismo, uno de nuestros pilares es informar al mayor número de personas, a través de un lenguaje amable y herramientas de fácil acceso, temas relacionados con género, diversidades sexuales y derechos humanos.

            Te invitamos a acceder a nuestro contenido y a comentarnos temas que te gustaría que tratáramos, ¡en Dyversia el conocimiento lo construimos juntes!
        </h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <%= render @posts %>
    </div>
</div>