<div class="row">
  <div class="col-2">
    <figure>
      <%= image_tag("d2-1-400x570.jpg", size: "200x300") %>
    </figure>
  </div>
  <div class="col-8">
    <div class="container text-center pt-5">
      <h2>Qué hacemos</h2>
      <p>Nuestra tarea es generar conocimiento sobre feminismo y diversidades, para ponerlo al servicio de la comunidad en un lenguaje simple y cercano.</p>
    </div>
  </div>
  <div class="col-2">
    <figure>
      <%= image_tag("d1-1-400x545.jpg", size: "200x300") %>
    </figure>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= render @posts %>
  </div>
</div>
