<div class="row">
    <div class="col-12 text-center">
        <h1>Mujeres Olvidadas</h1>
    </div>
    <div class="col-12">
        <h4>En Dyversia buscamos levantar un espacio de reivindicación y reconocimiento a aquellas mujeres que, de manera sistemática, han sido olvidadas o menospreciadas a lo largo de la historia.

        En esta sección iremos contando la historia de mujeres que, enfrentadas a una sociedad machista, lograron destacarse en diversos campos. Reivindicamos la voz propia de las mujeres, opacada por el patriarcado.</h4>
    </div>
</div>

<div class="container">
  <div class="row">
    <%= render @posts %>
</div>
</div>