<div class="row">
    <div class="col-12 text-center">
        <h1>Opinion</h1>
    </div>
    <div class="col-12">
        <h4>
            En el mundo actual las artes escénicas, la literatura y la información, en general, se encuentra a tan sólo un click de distancia, y cada vez son más les autores e intérpretes que representan las temáticas de LGBTIQA+, feminismo y género en sus obras.

            En Dyversia nos interesa que todes puedan ver y sentir estas materias como algo cercano y comprensible, desde una visión crítica, que permita a cada persona formar una opinión informada y amplia sobre la actualidad.

            Es por esto, que en esta sección podrás encontrar varias recomendaciones que les integrantes de Dyversia han preparado en base a sus propias experiencias y visiones, esperando que ustedes puedan construir sus propias impresiones. ¡Nosotres estaremos felices de escucharlos!
        </h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <%= render @posts %>
    </div>
</div>
