<div class="row">
    <div class="col-12 text-center">
        <h1>Investigacion</h1>
    </div>
    <div class="col-12">
        <h4>
            Para el avance en las políticas públicas sobre el reconocimiento de derechos fundamentales de distintos grupos de la sociedad, es esencial contar con investigaciones que reflejen los problemas actuales y entreguen posibles soluciones.

            Como Dyversia hemos detectado una deficiencia en la investigación de la situación actual de las mujeres y las minorías sexuales en Chile. Es por eso que uno de nuestros focos es realizar investigación, a través del uso herramientas cualitativas y cuantitativas, para aportar al debate público y avanzar en el camino a ser un país justo, no discriminatorio e inclusivo para todas las personas que lo habitan.

            Esta investigación se centra en poder hacer una evaluación actual de la situación de las mujeres y personas de la comunidad LGBTIQ+, como también la revisión de las políticas públicas que se han implementado en otros países para llegar a los resultados deseados ante problemas similares, y estudiar su aplicación a nuestro país, entendiendo las diferencias que pueden existir.
        </h4>
    </div>
</div>

<div class="container">
    <div class="row">
        <%= render @posts %>
    </div>
</div>