<div class="row">
    <div class="col-3 pb-4">
        <figure>
            <%= image_tag("sobre-nosotros-1-400x349.png", size: "250") %>
        </figure>
    </div>
    <div class="col-9">
        <h1>Sobre Dyversia</h1>
        <h4>
            Somos un centro de estudios dedicado a la investigación en materias de diversidad sexual, género y feminismo. Nuestro objetivo es servir de puente entre el conocimiento sobre estas materias que se realiza en la academia y la comunidad, con el fin de entregar herramientas para erradicar la discriminación y poca comprensión que sufre la comunidad LGTBIQA+, la disidencia sexual y las mujeres.
        </h4>
    </div>
</div> 
<div class="container p-3"></div>
   <div class="row">
        <div class="col-6">
            <h3>Historia</h3>
            <p>La inquietud por conocer más acerca de diversidad sexual, feminismo y teoría de género acercó a los integrantes de Dyversia y los llevó a crear este centro de estudios, con la intención de expandir este conocimiento, primero entre sus cercanos, y luego a la población en general.</p>
        </div>
        <div class="col-6">
            <h3>Misión</h3>
            <p>Nuestra misión es conseguir que la igualdad de género en sus diversas manifestaciones sea integrada al pensamiento y actuar de la sociedad. Es por esto que Dyversia está comprometida con un trabajo académico de calidad, pero que a la vez pueda ser cercano a la sociedad, cuestión que permita a las personas comprender los derechos humanos de una manera cercana.</p>
        </div>
        <div class="col-12">
            <h3 class="text-center">Visión</h3>
            <p>En Dyversia creemos en un país inclusivo y equitativo, donde las diferencias de género y las distintas brechas que de ello derivan, no existen. Un país donde la diversidad, en su sentido más amplio, es entendida como un valor en sí misma. Trabajamos para lograr una sociedad que reconoce y respeta sus derechos y los del resto.

            Para lograr esto, Dyversia surge como un centro de estudios comprometido con el respeto, la promoción, defensa y educación sobre derechos humanos, género y diversidad, nuestro interés es crear productos con densidad y rigor académico, pero que sean accesibles a todas las personas, poniendo el conocimiento al servicio de la inclusión.</p>
        </div>
    </div>
</div>
<div class="container">
    <h2>Quiénes somos</h2>
    <div class="row">
        <%= render @posts %>
    </div>
</div>
